.container-fluid {
  max-width: 1024px;
}

.footer-custom{
  background-color: #000000;
  color:white;
  margin-top: 40px;
  padding: 40px 0px;
}

ul {
  color: #BD53C7;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

a {
  color: #BD53C7;
}

svg {
  display:inline-block;
  margin-right: 20px;
  width: 32px;
}