.container {
    padding: 100px 0px;
}


.row div {
    display: flex;
    align-items: baseline center;
    margin-right: 32px;  
}

.row div label {
    white-space: nowrap;
    margin-right: 16px;
    margin-bottom: 0;
    align-self: flex-end;
    color: #868686;
}

.row div input {
    border: none;
    border-bottom: 1px solid#852C7D;
    border-radius: 0;
}

.row div button {
    padding: 0 32px;
    height: 40px;
    cursor: pointer;
}

// .row div button:focus {
//     border-color: #80bdff;
//     outline: 0;
//     box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
// }

.row div button.primary {
    margin-right: 16px;
    background-color:#852C7D;
    color: white;
    border:#852C7D;
}

.row div button.primary:hover{
    margin-right: 16px;
    background-color:#BD53C7;
    color: white;
    border:#BD53C7;
}

.row div button.primary:disabled {
    background-color: gainsboro;
    border: 1px solid #868686;
    color: #868686;
}

.row div button.secondary {
    color:#852C7D;
    border: 1px solid#852C7D;
    background-color: white;
}

.row div button.secondary:hover {
    color: #BD53C7;
    border: 1px solid#BD53C7;
    background-color: white;
}

.table-striped {
    margin-top: 48px;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-striped thead {
    background-color: #352543;
    color: white;
}

.table-striped thead th:first-child {
    border-radius: 12px 0 0 12px;
}

.table-striped thead th:last-child {
    border-radius: 0 12px 12px 0;
}

.table-striped tbody th {
    font-weight: normal;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.02);
}

.table-striped td, .table-striped th {
    border-top: none;
}

/* .table-striped tbody tr th {
    border-radius: 12px 0 0 12px;
    border-left: 8px solid transparent;
}

.table-striped tbody tr:hover th {
    border-radius: 12px 0 0 12px;
    border-left: 8px solid #352543;
} */
