<div class="container">
    <div class="row">
        <!-- <div>
            <label>Product ID:</label>
            <input type="text" name="productId" class="form-control"
                [(ngModel)]="productId" #productIdField>
        </div> -->
        <!-- <div> -->
            <!-- <label >Product Description:</label> -->
            <input type="text" name="searchField" class="form-control" (keyup.enter)="search()"
                placeholder="Type in an artist or a record to search" aria-label="Type in an artist or a record to search" #searchField>
        <!-- </div> -->
        <!-- <div>
            <button (click)="search()" type="submit" id="submit" class="search primary" value="Search" [disabled]="isDisabled">Search</button>
            <button (click)="clear()" class="clear secondary">Clear</button>
        </div> -->
    </div>

    <div class="row">
        <music-category></music-category>
    </div>
   

    <div class="row">
        <div class="col">
            <p>Total results:</p>
        </div>
        <div class="col" style="justify-content: flex-end;">
            <form>
                <select name="music-filter" id="music-filter">
                    <option>New release</option>
                    <option>Recommended</option>
                    <option>Price high to low</option>
                    <option>Price low to high</option>
                </select>
            </form>
        </div>
    </div>

    <div class="row">
        <tile></tile>
    </div>
    <app-paginator></app-paginator>
</div>


