<h1 class="sr-only">Search and Sort Records</h1>
<div class="container">

    <div class="row">
        <!-- <div>
            <label>Product ID:</label>
            <input type="text" name="productId" class="form-control"
                [(ngModel)]="productId" #productIdField>
        </div> -->
        <!-- <div> -->
            <!-- <label >Product Description:</label> -->
            <input type="text" name="searchField" class="form-control" (keyup.enter)="search()"
                placeholder="Type in an artist or a record to search" aria-label="Type in an artist or a record to search" #searchField>
        <!-- </div> -->
        <!-- <div>
            <button (click)="search()" type="submit" id="submit" class="search primary" value="Search" [disabled]="isDisabled">Search</button>
            <button (click)="clear()" class="clear secondary">Clear</button>
        </div> -->
    </div>

    <div class="row" >
        <music-category (filterRequest)="filter($event)"></music-category>
    </div>
   

    <div class="row">
        <div class="col">
            <h2>Total results:<span>{{foundProducts.length}}</span></h2>
        </div>

        <div class="col sort-results">
            <form>
                <select (click)="sortByPrice($event)" (keyup.enter)="sortByPrice($event)" name="music-filter" aria-label="Music filter" id="music-filter">
                    <option value="0">None</option>
                    <option value="1">Price high to low</option>
                    <option value="2">Price low to high</option>
                </select>
            </form>
        </div>
    </div>

    <!-- found search results (factor out in separate component?) -->
    <div class="row" *ngIf="foundProducts.length > 0">
        <div class="record-tile" *ngFor="let prod of foundProducts">
            <img src="{{prod.productImageUrl}}" alt="{{prod.recordTitle}} cover art" />
            <h3>{{prod.recordTitle}}</h3>
            <div>{{prod.artist}}</div>
            <div>{{prod.year}}</div>
            <div>{{prod.price.toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
              }) }}</div>
            <br style="margin-bottom: 60px;"/>
        </div>
    </div>

    <div class="row" *ngIf="foundProducts.length == 0">
        <p>no result</p>
    </div>

</div>


