<div class="container">
    <div class="row">
        <div class="page-heading">
            <h1 class="h1">Search Our Inventory</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Product ID:</label>
            <input type="text" name="productId" class="form-control"
                [(ngModel)]="productId">
        </div>
        <div>
            <label>Product Description:</label>
            <input type="text" name="productDescriptionEnglish" class="form-control"
                [(ngModel)]="productDescriptionEnglish">
        </div>
        <div>
            <button (click)="search()" type="submit" id="submit" class="search primary" value="Search" [disabled]="isDisabled">Search</button>
            <button (click)="clear()" class="clear secondary">Clear</button>
        </div>
    </div>
    <div class="row">
        <mat-spinner *ngIf="isDisabled" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
        <!-- Begin result -->

        <table class="table table-striped table-hover" *ngIf="!isDisabled">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description English</th>
                    <th scope="col">Description French</th>
                    <th scope="col">BrandName English</th>
                    <th scope="col">BrandName French</th>
                    <th scope="col">Type</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Target Market</th>
                    <th scope="col">Image Url</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of products" id="{{ prod.id }}" #tr>
                    <th scrope="row">{{ prod.id }}</th>
                    <td>{{ prod.productDescriptionEnglish }}</td>
                    <td>{{ prod.productDescriptionFrench }}</td>
                    <td>{{ prod.brandNameEnglish }}</td>
                    <td>{{ prod.brandNameFrench }}</td>
                    <td>{{ prod.productType }}</td>
                    <td>{{ prod.additionalProductIdentification }}</td>
                    <td>{{ prod.targetMarket }}</td>
                    <td>{{ prod.productImageUrl }}</td>
                    <td>{{ prod.status }}</td>
                </tr>
            </tbody>
        </table>

        <h5 *ngIf="products?.length === 0">No records available!</h5>
        <!--End Result-->
    </div>
</div>


