<div class="add-product container-fluid">
    <div class="container">
        <div>
            <h2 class="page-heading">Sell your records, we collect them!</h2>
            <p><strong><i>Trying to refresh your record collection? Sell us your old records.</i></strong></p>
        </div>
        <div *ngIf="msg" class="alert alert-success">
            <strong>{{msg}}</strong>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    
                        <div class="row">
                            <div class="col-lg-6">
                                <label> Id</label>
                                <input type="text" name="id" class="form-control"
                                [(ngModel)]= "product.id">
                            </div>
                            <div class="col-lg-6">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control"  
                                        [(ngModel)]="product.title">      
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Artist</label>
                                <input type="text" name="artist" class="form-control"  
                                        [(ngModel)]="product.artist">
                           
                            </div>
                            <div class="col-lg-6">
                                <label>How much are you looking to sell?</label>
                                <input type="number" name="sellingPrice" class="form-control" [(ngModel)]="product.sellingPrice">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Year Released</label>
                                <input type="text"  name="yearReleased" class="form-control"     
                                     [(ngModel)]="product.yearReleased">

                                
                            </div>
                            <div class="col-lg-6">
                                <label>Genre</label>
                                <input type="text" name="genre" class="form-control"     
                                [(ngModel)]="product.genre">
                            </div>
                        </div>
                    
                       <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <button *ngIf="!isEdit" type="submit" class="submit_btn">Submit</button>
                            </div>
                            <div class="col-lg-6">
                                <button *ngIf="isEdit" class="update_btn" 
                                (click)="editProduct(f)">Update</button>
                            </div>
                            </div>    
                        
                    </form>
            </div>
        </div>
    </div>
</div>