.add-product {
    background-image: url("/assets/add_product_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.help-block {
    font-size: 12px;
    color: red;
}

h1, h1{
    color: #352543;
    padding-top: 0px;
}

.background {
    background-image: url('/assets/add_product_bg.png');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
}

@media screen and (max-width: 1440px) { 
  background {
    left: 50%;
    margin-left: -512px;   
  }
}

.container {
    background-color: white;
    margin-top: 88px;
    padding: 48px;
    border-radius: 12px;
}


.submit_btn {
    margin-right: 16px;
    background-color:#63477C;
    color: white;
    border: 1px solid #63477C;
    padding: 0 32px;
    border-radius: 32px;
    height: 40px;
}

.error-field {
    border: 1px solid red;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button.clear-button {
    float: right;
    color: #63477C;
    border: none;
    background-color: white;
    cursor: pointer;
}