nav {
    background-color:#352543;
}

nav .container {
    justify-content: flex-start;
}

nav a {
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav ul {
    flex-direction: row;
}

nav ul li {
    margin-left: 24px;
}

.logo {
    height: 28px;
    width: 28px;
}