nav {
    background-color: #34072E;;
    z-index: 1;
    box-shadow: 0 6px 6px -6px ;
}

nav .container {
    justify-content: flex-start;
}

nav a {
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav ul {
    flex-direction: row;
}

nav ul li {
    margin-left: 24px;
}


nav.navbar {
    .container {
        .navbar-header {
            a.hamburger-menu {
                display: none;
            }
        }
    }
}



.logo {
    height: 32px;
    width: 32px;
}

.main-content {
    padding-top: 60px;
    box-sizing: border-box;
    background: linear-gradient(167deg, rgba(59,59,93,1) 0%, rgba(16,26,39,1) 100%);
}

footer {
    background-color: #192032;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
}

footer span {
    margin-right: 48px;
}

@media screen and (max-width: 500px) {

    nav.navbar {
        margin: 0;
        padding: 0;
        // height: 100%;
        .container {
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
            .navbar-header {
                height: 48px;
                width: 100%;
                .navbar-brand.vie-logo {
                    display: none;
                }
                a.hamburger-menu {
                    display: block;
                    height: 44px;
                    img {
                        margin: 12px 6px 6px 12px
                    }
                }
            }
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 44px;
                background-color: purple;
                display: none;
                &.open {
                    display: block;
                }
                li {
                    background-image: url('../assets/icons/arrow-icon.svg');
                    background-repeat: no-repeat;
                    background-position: right center;
                }
            }
        }
    }

}
