nav {
    background-color: #4E2D4F;
}

nav .container {
    justify-content: flex-start;
}

nav a {
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav ul {
    flex-direction: row;
}

nav ul li {
    margin-left: 24px;
}