@keyframes spinrecord {
    /* 0%   {background-color:red; left:0px; top:0px;} */
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.recordplayer-container{
    background: rgb(59,59,93);
    background: linear-gradient(167deg, rgba(59,59,93,1) 0%, rgba(16,26,39,1) 100%); 
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-top: 56px;
    .vinyl-record-title-container {
        .current-record-title {
            text-align: center;
            color: #FFF;
        }
        .current-record-subtitle {
            text-align: center;
            color: #FFF;
            margin-bottom: 40px;
        }
        .vinyl-record {
            background-image: url(../../assets/images/vinyl_record.png);
            background-repeat: no-repeat;
            width: 250px;
            height: 250px;
            background-size: 250px 250px;
            margin-bottom: 16px;
            &.spinning {
                animation: 2s linear infinite spinrecord;
            }
        }        
    }
    .play-buttons {
        text-align: center;
        .recordplayer-title {
            background-color: #000;
            margin: 0;
            padding: 16px;
        }
    }
    ol {
        margin: 0;
        text-align: left;
        counter-reset:li; /* Initiate a counter */
        margin-left:0; /* Remove the default left margin */
        padding-left:0; /* Remove the default left padding */
        &>li {
            padding: 0;
            position:relative; /* Create a positioning context */
            margin-bottom: 8px;
            /*padding:4px 8px; */ /* Add some spacing around the content */
            list-style:none; /* Disable the normal item numbering */
            &:before {
                content:counter(li); /* Use the counter as content */
                counter-increment:li; /* Increment the counter by 1 */
                /* Position and style the number */
                position:absolute;
                top: 2px;
                left: 24px;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                box-sizing:border-box;
                /* Some space between the number and the content in browsers that support
                   generated content but not positioning it (Camino 2 is one example) */
                margin-right:8px;
                padding:4px;
                color:#fff;
                font-size: 1.8em;
                text-align:center;
            }
            .music-card {
                background-color: #070b11;
                color: white;
                padding: 16px 32px;
                min-width: 360px; 
                cursor: pointer;
                button, button.play {
                    display: none;
                }    
                &.active {
                    button {
                        background-color: transparent;
                        color: white;
                        border: none;
                        background-image: url(../../assets/icons/pause.svg);
                        background-size: 16px 16px;
                        background-position: center;
                        width: 24px;
                        height: 24px;
                        background-repeat: no-repeat;  
                        float: right;
                        margin-left: 16px;  
                        margin-top: 4px;  
                        display: block;            
                        &.play {
                            background-image: url(../../assets/icons/play.svg);
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .flex-row.track-progress {
                        display: flex;
                    }    
                }
                & > .flex-row {
                    &:first-child {
                        padding-left: 24px;
                    }
                    &.track-progress {
                        display: none;
                        margin-top: 16px;
                        .total-track-duration {
                            background-color: lightgrey;
                            width: 100%;
                            height: 8px;
                            .percent-played {
                                background-color: violet;
                                width: 0%;
                                height: 8px;
                            }
                        }       
                    } 
                }
            }
        }
    }
}


@media only screen and (max-width: 360px) {

    .recordplayer-container ol > li .music-card {
      min-width: 0;
    }
  
}