<div class="container-fluid recordplayer-container">
    <div class="vinyl-record-title-container">
        <h2 class="current-record-title">{{featuredRecords[activeTrack].title}}</h2>
        <div class="current-record-subtitle">{{featuredRecords[activeTrack].band}}</div>
        <div class="vinyl-record" #recordplayer></div>
    </div>
        
    <div class="play-buttons">

    <audio id="heartbeat" #audio src="../../assets/audio/record0.mp3" preload="auto">
        Your browser does not support the <code>audio</code> element.
    </audio>

    <h3 class="recordplayer-title">New Release</h3>
    <ol #listofrecords>
        <li>
        <div tabindex="-1" class="music-card" [ngClass]="{'active': activeTrack == 0}" (click)="playRecord(0)">
            <div class="flex-row">
                Freaking Out (Remix)    <button id="btn0" class="play"></button>
            </div>
            <div class="track-progress flex-row">
            <div class="total-track-duration">
                <div class="percent-played track-zero" #percentplayed></div>
            </div>
            </div>
        </div>
        </li>
        <li>
        <div tabindex="-1" class="music-card" [ngClass]="{'active': activeTrack == 1}" (click)="playRecord(1)">
            <div class="flex-row">
                I Don't Care (Part I)<button id="btn1" class="play"></button>
            </div>
        <div class="track-progress flex-row">
            <div class="total-track-duration">
            <div class="percent-played track-one"></div>
            </div>
        </div>
        </div>
        </li>
        <li>
        <div tabindex="-1" class="music-card" [ngClass]="{'active': activeTrack == 2}" (click)="playRecord(2)">
            <div class="flex-row">
                I Don't Care (Part II)<button id="btn2" class="play"></button>
            </div>
            <div class="track-progress flex-row">
            <div class="total-track-duration">
                <div class="percent-played track-one"></div>
            </div>
            </div>
        </div>
        </li>
        <li>
        <div tabindex="-1" class="music-card" [ngClass]="{'active': activeTrack == 3}" (click)="playRecord(3)">
            <div class="flex-row">  
                Christmas Carols<button id="btn3" class="play"></button>
            </div>
            <div class="track-progress flex-row">
            <div class="total-track-duration">
                <div class="percent-played track-one"></div>
            </div>
            </div>
        </div>
        </li>
        <li>
        <div class="music-card" [ngClass]="{'active': activeTrack == 4}" (click)="playRecord(4)">
            <div class="flex-row">
                I Don't Care<button id="btn4" class="play"></button>
            </div>
            <div class="track-progress flex-row">
            <div class="total-track-duration">
                <div class="percent-played track-one"></div>
            </div>
            </div>
        </div>
        </li>
    </ol>

    </div>

</div>