/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
    margin-bottom: px;
    background-color: #101A27;
    color: #ffffff;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.page-heading {
    padding: 88px 0 16px 0;
}

h1 {
    color: #34072E;
}

a, button, input, form input.form-control, div.music-card {
    &:focus {
        outline: none;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 0 0.6rem 0.1rem #bd53c7 !important;
        pointer-events: auto;
    }
}

.container {
    width: 1140px;
    max-width: 1140px;
    min-width: 1140px;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 1140px) {

    .container {
        min-width: unset;
    }

}