/* You can add global styles to this file, and also import other style files */
body {
    margin-bottom: 48px;
    background-color: #101A27;
}

.page-heading {
    padding: 88px 0 16px 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h1{
    color: #34072E;;
}

a, button {
    &:focus {
        outline: none;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 0 0.6rem 0.1rem #bd53c7; //#52627c;
        pointer-events: none;
    }
}


