.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// body {
//   background-color: #352543;
//   color: #ffffff;
// }

.container-fluid {
  padding: 0px; 
  margin: 0px;
  background-color: #34072e;
}

.container-fluid.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/hero.png');
  background-size: cover;
  background-position: center;
  height: 313px;
  background-repeat: no-repeat;
}

// img {
//   margin: auto;
//   width: 100%;
//   background-repeat: no-repeat;
// }

.banner-text {
  position: absolute;
  right: 24px;
  color:white;
  // height: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    font-size: 2.0rem;
  }
  button {
    background-color: purple;
    color: white;
    border: none;
    padding: 0;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    span {
      margin: auto;
    }
    span.icon {
      background-color: violet;
      width: 40px;
      height: 40px;
      margin: auto 0;
      background-image: url(../../assets/icons/chevron-button.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:hover {
      border-bottom: 10px;
      height: 48px;
      background-color: violet;
      span.icon {
        width: 48px;
        height: 48px;
      }
    }
  }
}

// hide hero image on smaller screens
@media only screen and (max-width: 599px) {
  
  .container-fluid.banner {
    display: none;
  }
  
}