.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// body {
//   background-color: #352543;
//   color: #ffffff;
// }

.container-fluid {
  padding: 0px; 
  margin: 0px;
  background-color: #34072e;
}

.container-fluid.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/bg_lines.svg');
  background-size: cover;
  background-position: center;
  height: 313px;
  background-repeat: no-repeat;
  img.banner-image {
    width: 250px;
    margin-right: 48px;
  }
}

// img {
//   margin: auto;
//   width: 100%;
//   background-repeat: no-repeat;
// }

.banner-text {
  // position: absolute;
  // right: 24px;
  color:white;
  // height: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    font-size: 2.0rem;
    margin-bottom: 24px;
  }
  a {
    background-color: #852C7D;
    color: white;
    border: none;
    padding: 0;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    span {
      margin: auto;
    }
    span.icon {
      background-color: #BD53C7;
      width: 40px;
      height: 40px;
      margin: auto 0;
      background-image: url('/assets/icons/chevron-button.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:hover {
      border-bottom: 5px;
      border-top: 5px;
      height: 48px;
      background-color: #BD53C7;
      text-decoration: none;
      span.icon {
        width: 48px;
        height: 48px;
      }
    }
  }
}