body {
  background-color: #352543;
}

.container-fluid {
  padding: 0px; 
  margin: 0px;
  background-color: purple;
}

.container-fluid.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 0px;
  padding: 0px;
}

.some-text {
  /* position:absolute; */
  position: relative;
  /* top:180px;
  bottom:100px;
  right:200px; */
  color:white;
  /* height: 155px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
