<div class="container-fluid banner">
  <img class="banner-image" src="../../assets/images/records_only.svg" />
  <img alt="Vie Records Logo" class="banner-img-mobile logo" src="assets/vie-logo.png">
  <div class="banner-text">
    <h1>
      <div class="vie">Vie.</div>
      <div>Discover the best quality sounds</div>
    </h1>
    <a href="#/searchProduct">
      <span>Start exploring sounds</span>
      <span class="icon"></span>
    </a>
  </div>
</div>
<div class="container">
  <app-music-player></app-music-player>
</div>


